[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User={{ deploy_user }}
EnvironmentFile={{ app_root_path }}/.rbenv-vars

WorkingDirectory={{ app_current_path }}

ExecStart={{ rbenv_bundle }} rails s -b 127.0.0.1 -p 3000
PIDFile={{ app_pids_path }}/puma.pid

Restart=always

[Install]
WantedBy=multi-user.target

